<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1 class="header-title" appColor>
    {{ title }}
  </h1>
  <h5 class="header-subtitle">El genio de la electricidad</h5>
</div>

<div class="image-container"></div>

<div class="text-container">
  <p>Nikola Tesla nació en Smiljan, la actual Croacia, el 10 de julio de 1856.Cuando contaba tres años vivió un episodio
    que marcaría la dirección de su vida: mientras acariciaba el lomo de su gato, el roce de su mano produjo una lluvia de
    chispas y quiso averiguar cuál era el motivo. Se lo preguntó a su padre y este, un sacerdote ortodoxo, le explicó que
    se trataba del mismo fenómeno que ocurría en los árboles durante una tormenta: la electricidad. Desde aquel momento y
    hasta el día de su muerte, Nikola Tesla dedicaría su vida a resolver aquel misterio.</p>

  <p><i>A los tres años, mientras acariciaba a su gato, a Tesla le sorprendió una lluvia de chispas y quiso saber cuál era
      el motivo</i></p>

  <p>Con sólo 17 años, el joven Nikola enfermó gravemente de cólera y estuvo a punto de no recuperarse. Su padre le
    prometió que una vez restablecido le enviaría a la mejor escuela de ingeniería que hubiera, el deseo más fervoroso del
    joven. Tras recuperarse y entrar en el ejército, en 1875, Tesla comenzó sus estudios en la Universidad Politécnica de
    Graz, en Austria.</p>
</div>
<div style="text-align: center;">
  <lib-casb-button [url]="'https://www.google.com'"></lib-casb-button>
</div>
